<div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="side-nav">
          <li>
            <a href="#" class="text-left">
                          <b>
                            Patients
                          </b>
                        </a>
          </li>
          <li>
            <a href="#" class="text-left">
                          Patient 1
                        </a>
          </li>
          <li>
            <a href="#">
                          Patient 2
                        </a>
          </li>
          <li>
            <a href="#">
                          Patient 3
                        </a>
          </li>
          <li>
            <a href="#">
                          Patient 4
                        </a>
          </li>
        </ul>
      </div>
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row" id="row-top">
            <div class="col-md-12">
              <p class="lead text-center">
                <%= @patient.name %>
              </p>
            </div>
            <div class="col-md-4">
              <div class="well">
                <h3 class="text-center">
                  Patient Profile
                </h3>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                  Height:
                </p>
                <p>
                </p>
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">
                    Biometrics
                  </h3>
                </div>
                <div class="panel-body">
                  <img src="http://4.bp.blogspot.com/-q5-rsvqQW5U/Tozc0-ETW5I/AAAAAAAAAFQ/Lm9wTPv7oEs/s1600/SPO2-linegraph-web.jpg"
                  height="300" width="680">
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">
                    News Feed
                  </h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge">
                                    14
                                  </span>
                      Cras justo odio
                    </li>
                    <li class="list-group-item">
                      <span class="badge">
                                    2
                                  </span>
                      Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                      <span class="badge">
                                    1
                                  </span>
                      Morbi leo risus
                    </li>
                    <li class="list-group-item">
                      <span class="badge">
                                    1
                                  </span>
                      Morbi leo risus
                    </li>
                    <li class="list-group-item">
                      <span class="badge">
                                    1
                                  </span>
                      Morbi leo risus
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
  </body>
